<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="login">
            <h1>Edit Existing Entry</h1>
            <div id="text">
                <p>Are you sure you want to delete the entry "" from your calendar? You will have to recreate it again if you do.</p>
            </div>
            <button onclick="window.location.href='main.html';">
                Delete Entry
            </button><br><br>
            <button onclick="window.location.href='main.html';">
                Back
            </button>
        </div>
    </body>
</html>
