<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Welcome to FamPlan</title>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="login" style="background-color:#F0F0F0">
            <img src="../public/img/logo.png" alt="Logo"
                align="left">
            <h1>Welcome to FamPlan</h1>
            <form id="loginform" action="/loginaccount" method="post">
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="username">Username:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <input type="text" id="username" name="username">
                    </div>
                </div>
                <div class="row"  style="background-color:#F0F0F0">
                    <div class="col1"  style="background-color:#F0F0F0">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col2"  style="background-color:#F0F0F0">
                        <input type="password" id="password" name="password">
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
            <% if (error == 1) { %>
                <p> Login failed. Check to make sure your login info is correct.</p>
            <%}%>
            <br>
            <button onclick="window.location.href='createacc';">
                Don't have an account? Create one today!
            </button>
        </div>
    </body>
</html>
