body {
    font-family: "Noto Sans", Noto, sans-serif;
    color: black;
    background-color: #b5e6e6;
    background-image: url("/public/img/diamond2.png");
}
h1 {
    color: #d65461;
    font-size: 60px;

}

p {
    color: black;
    font-size: 30px;
}

p1 {
    color: black;
}

h2 {
    color: #0068af;
}

div {
    background-color: white;
}

#login {
    max-width: 900px;
    margin: auto;
    outline: 2px solid black;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.col1 {
    text-align: center;
    width: 35%;
    margin-right: 10px;
}

.col1 button {
    display: inline-block;
    min-width: 150px;
    width: 20%;
    box-sizing: border-box;
    outline: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-style: outset;
    border-color: #dddddd;
    border-width: 2px;
    font-size: 13px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button-container-calendar {
    margin-left: 300px;
    display: flex;
    width: 150px;

}

.col2 {
    width: 50%;
}
#text {
    max-width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
input[type="text"],
input[type="password"],
input[type="time"],
input[type="datetime-local"],
textarea {
    width: 50%;
    box-sizing: border-box;
    outline: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    font-family: "Noto Sans", Noto, sans-serif;
    font-size: 13px;
}
input[type="time"] {
    text-align: center;
}
input[type="checkbox"] {
    outline: 2px solid black;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 5px;
}
input[type="submit"] {
    min-width: 150px;
    width: 20%;
    box-sizing: border-box;
    outline: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    border-style: outset;
    border-color: #dddddd;
    border-width: 2px;
}
button {
    display: inline-block;
    min-width: 150px;
    width: 20%;
    box-sizing: border-box;
    outline: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-style: outset;
    border-color: #dddddd;
    border-width: 2px;
    font-size: 13px;
}
select {
    width: 150px;
    box-sizing: border-box;
    outline: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
}


.calendar-frame-mobile {
    display: none;
}
@media screen and (max-width: 600px) {
    .calendar-frame {
        display: none;
    }

    .calendar-frame-mobile {
        display: inline;
    }

    .calendarlabel-mobile{
        display: inline-block;
        /*min-width: 80px;
        max-width: 50%;*/
        box-sizing: border-box;
        outline: 2px solid black;
        border-radius: 3px;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px;
        border-style: outset;
        border-color: #dddddd;
        border-width: 2px;
        font-size: 13px;
        height: max-content;
        height: 60px;
    }
    form button {
        margin-top: 10px;
    }
    .calendar-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F0F0F0;
    }
    .calendar > table {
        width: 50px;
    }
    .calendar-mobile label input[type="radio"] {
        margin: 5px auto;
    }
    .calendar-mobile label p1 {
        margin: 5px auto;
    }
    .calendarlabel {
        width: 66%;
        padding: 2px;
    }
    td {
        padding: 5px;
        width: 100%;
        text-align: center;
    }
    tr {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    th {
        width: 100%;
        text-align: center;
    }
    tbody {
        width: 100%;
    }
    .button-container-calendar-mobile {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .button-container-calendar-mobile form {
        margin: 0;
    }
    .button-container-calendar-mobile form button {
        margin: 5px;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .col1, .col2 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

input[type="radio"] {
    display: none;
    font-size: 8px;
}

.radiolabel {
    display: inline-block;
    min-width: 150px;
    width: 20%;
    height: 31px;
    /*box-sizing: border-box;*/
    outline: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-style: outset;
    border-color: #dddddd;
    border-width: 2px;
    font-size: 13px;
}

input[type="radio"]:checked + .radiolabel {
    background-color: #bbbbbb;
    border-color: #888888;
    /*font-size: 15px;
    min-width: 200px;*/
}

.pad {
    margin-bottom: 10px;
}

.calendar-frame {
    width: 100%;
    max-width: 900px;
    margin: auto;
    outline: 0px;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendarlabel{
    display: inline-block;
    /*min-width: 80px;
    max-width: 50%;*/
    box-sizing: border-box;
    outline: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    border-style: outset;
    border-color: #dddddd;
    border-width: 2px;
    font-size: 13px;
    height: max-content;
    height: 60px;
}

input[type="radio"]:checked + .calendarlabel  {
    background-color: #bbbbbb;
    border-color: #888888;
}

.calendar table {
    width: 100%;
}

td {
    border-style: outset;
    border-color: black;
    padding: 30px; /* Add more padding around table cells */
    width: 60px;
}

tr {
    align-items:first baseline;
    width: 60px;
    height: 145px;
}
th {
    width: 50px;
}

tbody {
    width: 50px;
    height: 100px;
}

select option{
    width: 306px;
    font-family: "Noto Sans", Noto, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}
.normal {
    background-color: #F9FD7C;

}

.low {
    background-color: #A3FD7C;
}

.important {
    background-color: #FD7C8A;
}

.logout {
    margin-top: 10px;
}

img {
    padding: 5px;
    width: 150px;
}

.button-container-calendar {
    display: flex;
    justify-content: left;
}

.button-container-calendar form {
    margin-right: 10px;
}
